@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    background-color:rgb(83, 171, 201);
    height: 60px;
}

.logoimg{
    margin: 20px 20px;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.name{
    margin: auto 20px;
    font-family: arvo;
    font-size: 30px;
    color: rgb(25, 25, 88);
}
.opti{
    margin: auto 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.left{
    margin-left: 500px;
    float: right;
}
.nleft{
    float: left;
    margin: auto 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
